<script lang="ts">
  import { fade } from 'svelte/transition'
  import '../../scripts/coverLetter'
  import portrait from '../../assets/img/portrait.jpg'

  import SocialMediaBar from '../atoms/SocialMediaBar.svelte'
  import { cubicOut } from 'svelte/easing'

  let currentBg = 1
  const totalBgs = 11
  
  // Preload next image
  function preloadNextImage(currentNum: number) {
    const nextNum = currentNum % totalBgs + 1
    const img = new Image()
    img.src = `/img/bg${nextNum}.jpg`
  }
  
  // Rotate background every 5 seconds
  setInterval(() => {
    currentBg = currentBg % totalBgs + 1
    preloadNextImage(currentBg)
  }, 5000)

  // Preload the second image on initial load
  preloadNextImage(1)

  // Create a key to force re-render of background div
  $: bgKey = currentBg

  // Add progress state
  let progress = 0;
  
  // Update progress every 50ms for smooth animation
  setInterval(() => {
    progress = (progress + 50/5000 * 100) % 100;
  }, 50);
</script>

<div>
  <header
    class="relative flex flex-col items-center justify-center min-h-screen p-10 pb-20 text-center"
  >
    {#key bgKey}
      <div 
        class="absolute inset-0 -z-10"
        transition:fade={{ duration: 1000, easing: cubicOut }}
        style="background: url('/img/bg{currentBg}.jpg') no-repeat 50% 50% / cover;"
      ></div>
    {/key}
    <div class="flex flex-col backdrop-blur-xl shadow-xl p-5 pb-10 md:p-28" style="border-radius: 2px; overflow: hidden;">
      <div class="absolute inset-0 backdrop-blur-xl opacity-80" style="background-color: #000723;"></div>
      <img
        src={portrait}
        class="portrait m-auto z-10"
        alt="Michael Warner's portrait"
      />
      <div class="mt-6 z-10">
        <h1 class="text-4xl text-white">Michael Warner</h1>
        <div class="my-1"></div>
        <span class="text-xl my-4 font-light text-gray-300 max-w-sm">
          Founder and software engineer specializing in frontend, go, and node.js
        </span>
        <div class="my-2"></div>
        <SocialMediaBar />
      </div>
    </div>
    <!-- <i
      class="absolute bottom-5 text-gray-400 fa-3x fa-solid fa-angle-down animate-point"
    /> -->
  </header>
  <!-- <main class="flex flex-col min-h-screen">
    <SkillsSection />
    <PortfolioSection />
    <AboutSection />
  </main> -->

  <!-- <footer class="px-4 py-10 text-gray-300 text-center">
    <div class="py-5">
      <h3 class="text-2xl text-gray-100">Would you like to get in touch?</h3>
      <div class="my-1" />
      <span class="text-xl font-light"
        >Reach out to me using any of the links below and I'll respond in
        earnest</span
      >
      <div class="my-2" />
      <SocialMediaBar />
    </div>
    <hr class="my-10 mx-auto border-white opacity-50" style="width: 90%;" />
    <p>
      Hand-crafted with <i class="fa-solid fa-heart text-red-400" /> and
      <i class="fas fa-mug-tea text-green-300" /> by Michael Warner. You can
      view the source code on
      <a
        class="text-orange-400"
        href="https://gitlab.com/mwarnerdotme/mwarnerdotme"
      >
        <i class="fa-brands fa-gitlab" />
      </a>.
    </p>
  </footer> -->

  <!-- Add progress bar at the bottom -->
  <div class="fixed bottom-0 left-0 w-full h-[5px] bg-black/30">
    <div class="progress-bar" />
  </div>
</div>

<style scoped>
  header {
    color: #dadada;
  }

  header .portrait {
    width: 280px;
    border-radius: 2px;
    box-shadow: 0px 5px 12px #ffffff07;
  }

  footer {
    background: linear-gradient(-90deg, #080c1d, #141925);
  }

  .animate-point {
    transition: 0.5s;
    animation: 2s infinite ease-out point;
  }

  .animate-point:hover {
    animation: unset;
    transform: translateY(5px);
    @apply text-gray-200;
  }

  @keyframes point {
    0% {
      /* transform: rotate3d(0, 1, 0, 0deg); */
      transform: translateY(-5px);
    }
    50% {
      /* transform: rotate3d(0, 1, 0, 180deg); */
      transform: translateY(5px);
    }
    100% {
      /* transform: rotate3d(0, 1, 0, 180deg); */
      transform: translateY(-5px);
    }
  }

  .progress-bar {
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    animation: progress 5s linear infinite;
  }

  @keyframes progress {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
</style>
