<script lang="ts">
  export let favorites: string[] | undefined
  export let learning: string[] | undefined = undefined
</script>

<div class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-5">
  <div class="mb-2 md:mb-0">
    {#if favorites}
      <h3 class="text-md text-gray-700 font-semibold">Favorites</h3>
      <span class="text-gray-600 text-sm">{favorites.join(', ')}</span>
    {/if}
  </div>
  <div>
    {#if learning}
      <h3 class="text-md text-gray-700 font-semibold">Currently learning</h3>
      <span class="text-gray-600 text-sm">{learning.join(', ')}</span>
    {/if}
  </div>
</div>
