<script lang="ts">
  import type { Color } from 'src/types/color'

  type PortfolioSelectorTag = {
    label: string
    color?: Color
  }

  export let title: string
  export let description: string
  export let link: string | undefined = undefined
  export let sourceLink: string | undefined = undefined
  export let handleClick: () => void
  export let selected: boolean
  export let tech: string[] | undefined = undefined
  export let color: Color = 'blue'
  export let tags: PortfolioSelectorTag[] | undefined = undefined
  export let thumbnail: string | undefined = undefined
</script>

<li
  class={`${color} pl-2 pb-1 mt-3 ml-auto cursor-pointer text-lg`}
  class:selected={selected}
  on:click={handleClick}
>
  <div class="flex flex-row" class:cursor-pointer={!selected}>
    <h4 class="text-gray-100 text-lg">{title}</h4>
    {#if tags}
      {#each tags as tag}
        <small class={`tag ${tag.color}`}>{tag.label}</small>
      {/each}
    {/if}
    <div class="flex-grow" />
    <i class="fa-solid mx-3 text-gray-200 font-light"
      class:fa-angle-left={!selected}
      class:fa-angle-down={selected}
    />
  </div>
  <div class:hidden={!selected}>
    <img src={thumbnail} alt={`${title} preview thumbnail`} class="mt-3 md:hidden" />
    <p class="text-gray-200 text-md font-light my-3">{description}</p>
    {#if tech}
      <p class="my-3 text-gray-300 text-sm">Tech used: {tech.join(', ')}</p>
    {/if}
    {#if link}
      <a class="text-white text-sm mr-2" href={link} target="_blank"
        >Live website <i class="fa-solid fa-external-link" /></a
      >
    {/if}
    {#if sourceLink}
      <a class="text-white text-sm" href={sourceLink} target="_blank"
        >Source code <i class="fa-brands fa-gitlab" /></a
      >
    {/if}
  </div>
</li>

<style scoped>
  li {
    @apply border-b md:max-w-sm;
    padding-bottom: 8px;
    border-color: #ffffff77;
    transition: 0.2s;
  }

  li.selected {
    @apply border-b-2 cursor-default;
  }

  li.red.selected,
  li.red:hover {
    @apply border-red-500;
  }
  li.orange.selected,
  li.orange:hover {
    @apply border-orange-500;
  }
  li.yellow.selected,
  li.yellow:hover {
    @apply border-yellow-500;
  }
  li.green.selected,
  li.green:hover {
    @apply border-green-500;
  }
  li.blue.selected,
  li.blue:hover {
    @apply border-blue-500;
  }
  li.indigo.selected,
  li.indigo:hover {
    @apply border-indigo-500;
  }
  li.violet.selected,
  li.violet:hover {
    @apply border-violet-500;
  }

  .tag {
    @apply bg-blue-500 rounded-full px-2 ml-2 text-gray-300 select-none;
  }
  .tag.red {
    @apply bg-red-700;
  }
  .tag.orange {
    @apply bg-orange-700;
  }
  .tag.yellow {
    @apply bg-yellow-700;
  }
  .tag.green {
    @apply bg-green-700;
  }
  .tag.blue {
    @apply bg-blue-700;
  }
  .tag.indigo {
    @apply bg-indigo-700;
  }
  .tag.violet {
    @apply bg-violet-700;
  }
</style>
