<script lang="ts">
  export let text: string
  export let handleClick: () => void
  export let selected: boolean
  export let color:
    | 'red'
    | 'orange'
    | 'yellow'
    | 'green'
    | 'blue'
    | 'indigo'
    | 'violet' = 'blue'
</script>

{#if selected}
  <li
    class={`${color} selected pl-2 pb-2 my-2 cursor-pointer text-lg border-b-2 border-blue-100 flex-grow`}
    on:click={handleClick}
  >
    {text}
  </li>
{:else}
  <li
    class={`${color} pl-2 pb-2 my-2 cursor-pointer text-lg border-b-2 border-blue-100 flex-grow`}
    on:click={handleClick}
  >
    {text}
  </li>
{/if}

<style scoped>
  li {
    transition: 0.2s;
  }

  li.red.selected,
  li.red:hover {
    @apply border-red-500;
  }
  li.orange.selected,
  li.orange:hover {
    @apply border-orange-500;
  }
  li.yellow.selected,
  li.yellow:hover {
    @apply border-yellow-500;
  }
  li.green.selected,
  li.green:hover {
    @apply border-green-500;
  }
  li.blue.selected,
  li.blue:hover {
    @apply border-blue-500;
  }
  li.indigo.selected,
  li.indigo:hover {
    @apply border-indigo-500;
  }
  li.violet.selected,
  li.violet:hover {
    @apply border-violet-500;
  }
</style>
