<script lang="ts">
  import type { Color } from 'src/types/color'

  type Level = 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10

  export let title: string
  export let level: Level = 0
  export let color: Color = 'blue'

  const fillSize: string = (() => {
    return `fill-${level}`
  })()
</script>

<div class="relative my-5">
  <span class="text-gray-700">{title}</span>
  <div class="skill-bar flex flex-row rounded overflow-hidden w-full shadow">
    <div class={`${fillSize} bg-${color}`} />
    <div class={`flex-grow bg-light-${color}`} />
  </div>
  <span class="absolute right-0 text-sm text-gray-500">{level}/10</span>
</div>

<style scoped>
  .skill-bar {
    height: 20px;
  }

  .bg-red {
    @apply bg-red-500;
  }
  .bg-orange {
    @apply bg-orange-500;
  }
  .bg-yellow {
    @apply bg-yellow-500;
  }
  .bg-green {
    @apply bg-green-500;
  }
  .bg-blue {
    @apply bg-blue-500;
  }
  .bg-indigo {
    @apply bg-indigo-500;
  }
  .bg-violet {
    @apply bg-violet-500;
  }

  .bg-light-red {
    @apply bg-red-200;
  }
  .bg-light-orange {
    @apply bg-orange-200;
  }
  .bg-light-yellow {
    @apply bg-yellow-200;
  }
  .bg-light-green {
    @apply bg-green-200;
  }
  .bg-light-blue {
    @apply bg-blue-200;
  }
  .bg-light-indigo {
    @apply bg-indigo-200;
  }
  .bg-light-violet {
    @apply bg-violet-200;
  }

  .fill-1 {
    flex-basis: 10%;
  }

  .fill-2 {
    flex-basis: 20%;
  }

  .fill-3 {
    flex-basis: 30%;
  }

  .fill-4 {
    flex-basis: 40%;
  }

  .fill-5 {
    flex-basis: 50%;
  }

  .fill-6 {
    flex-basis: 60%;
  }

  .fill-7 {
    flex-basis: 70%;
  }

  .fill-8 {
    flex-basis: 80%;
  }

  .fill-9 {
    flex-basis: 90%;
  }

  .fill-10 {
    flex-basis: 100%;
  }
</style>
