<script lang="ts">
  interface Account {
    name: string
    link: URL
    icon: string
    iconPackage: 'fa-brands' | 'fa-solid'
  }

  let socialMediaAccounts: Account[] = [
    {
      name: 'github',
      link: new URL('https://github.com/mwarnerdotme'),
      icon: 'fa-github',
      iconPackage: 'fa-brands',
    },
    {
      name: 'linkedin',
      link: new URL('https://linkedin.com/in/mwarnerdotme'),
      icon: 'fa-linkedin',
      iconPackage: 'fa-brands',
    },
  ]
</script>

<ul class="social-bar flex justify-center space-x-3 text-2xl">
  {#each socialMediaAccounts as account}
    <li>
      <a href={account.link.toString()} target="_blank">
        <i class={`${account.iconPackage} ${account.icon}`} />
      </a>
    </li>
  {/each}
</ul>

<style>
  .social-bar {
    list-style-type: none;
    padding: 0;
  }

  .social-bar a {
    font-size: 24px;
  }

  .social-bar li {
    margin-right: 15px;
  }

  .social-bar li:last-of-type {
    margin-right: 0;
  }

  .social-bar .fa-brands:hover,
  .social-bar .fa-solid:hover {
    animation: bounce infinite 1.2s cubic-bezier(0.1, 0.29, 0.46, 0.93);
  }

  .social-bar .fa-brands:hover::after,
  .social-bar .fa-solid:hover::after {
    content: '👆';
    position: absolute;
    animation: rotate3d infinite 2.4s linear;
    top: 35px;
    z-index: 101;
    display: block;
  }

  .fa-gitlab:hover {
    color: #fc6d26 !important;
  }

  .fa-linkedin:hover {
    color: #0076b5 !important;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  @keyframes rotate3d {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
      transform: rotate3d(0, 1, 0, 180deg);
    }
  }
</style>
