<script lang="ts">
  export let title: string
  export let handleClick: () => void
  export let selected: boolean
</script>

{#if selected}
  <li class={`selected cursor-pointer px-4`} on:click={handleClick}>
    <div class="flex flex-row items-center">
      <div class="flex-grow" />
      <i class="fa-brands fa-markdown text-blue-500 mr-2" />
      <h4 class="text-gray-700 text-sm">{title}</h4>
      <div class="flex-grow" />
      <i class="fa-solid fa-times text-sm text-gray-400 font-light" />
    </div>
  </li>
{:else}
  <li class={`cursor-pointer px-4`} on:click={handleClick}>
    <div class="flex flex-row items-center">
      <div class="flex-grow" />
      <i class="fa-brands fa-markdown text-blue-500 mr-2" />
      <h4 class="text-gray-800 text-sm">{title}</h4>
      <div class="flex-grow" />
      <i class="fa-solid fa-times text-sm text-gray-400 font-light" />
    </div>
  </li>
{/if}

<style scoped>
  li {
    @apply select-none flex-grow;
    background: #f8f8f8;
    transition: 0.2s;
    padding: 6px 10px;
  }

  li.selected,
  li:hover {
    @apply border-b border-blue-500;
  }
</style>
