<script lang="ts">
  import TerminalSelector from '../atoms/TerminalSelector.svelte'

  type AboutArticle = 'intro' | 'hobbies' | 'tech'

  let selectedAboutArticle: AboutArticle = 'intro'
</script>

<div class="terminal">
  <ul class="commands flex flex-row align-items bg-gray-800 w-full">
    <li class="bg-red-500" />
    <li class="bg-yellow-500" />
    <li class="bg-green-500" />
  </ul>
  <ul class="flex flex-row w-full overflow-x-scroll">
    <TerminalSelector
      title="intro.md"
      handleClick={() => {
        selectedAboutArticle = 'intro'
      }}
      selected={selectedAboutArticle === 'intro'}
    />
    <TerminalSelector
      title="hobbies.md"
      handleClick={() => {
        selectedAboutArticle = 'hobbies'
      }}
      selected={selectedAboutArticle === 'hobbies'}
    />
    <TerminalSelector
      title="tech.md"
      handleClick={() => {
        selectedAboutArticle = 'tech'
      }}
      selected={selectedAboutArticle === 'tech'}
    />
  </ul>
  <div class="content">
    <article class:hidden={selectedAboutArticle !== 'intro'}>
      <h4 class="font-bold">Intro</h4>
      <br />

      <p>
        👋 Hey there! My name is Michael Warner. I'm a driven individual with a
        big heart for code, music, sustainability, and fitness among other
        things.
      </p>

      <p>
        I like to consider myself a go-getter with a knack for grokking
        abstract, high-level problems. Usually my solutions take the form of
        software, but I'm a fan of any application of intuition or logic to
        efficiently reach a goal.
      </p>

      <p>
        If you'd like to get to know me more, feel free to click the other
        sections above to tab through some more info about me. Otherwise, thanks
        for visiting my site! If you enjoyed the page, feel free to reach out to
        me using any of my contact methods in the next section below. I'm always
        more than happy to receive hand-written notes in my inbox and make
        genuine connections!
      </p>

      <p>Looking forward to it,</p>
      <p>Michael Warner</p>
    </article>
    <article class:hidden={selectedAboutArticle !== 'hobbies'}>
      <h4 class="font-bold">Hobbies</h4>
      <br />

      <p>
        Working with web applications and software is what I truly love doing -
        both as a career as well as a hobby. That's not all I do, though! I also
        have a passion for music, sustainability, investing, fitness, and the
        great outdoors.
      </p>

      <p>
        If you were to ask me what my favorite type of music was, you would get
        a different answer than the next person who asks. On any given day of
        the week you could catch me switching from jazz to metal to chillhop,
        sometimes within the same hour. I have probably been excluded from any
        Spotify algorithms at this point because I'm such an outlier.
      </p>

      <p>
        At one point I went through a phase where my big dream was to produce
        EDM and start touring as a producer/DJ. I still do both of those things
        in my freetime, but I don't think live performance, let alone touring,
        is in the cards for me. I just love writing code too much. I also like
        to play bass guitar and pretend that I'm talented with a keyboard as
        well.
      </p>

      <p>
        For almost as long as I've been playing music, I've been following the
        footsteps of blockchain technology and cryptocurrencies. I've followed
        every major cryptocurrency project since Litecoin, Feathercoin,
        Peercoin, and Namecoin were topping the charts on CoinMarketCap. One of
        my favorite memories was mining Ethereum back in 2015/2016 when it was
        first entering the mainstream. This was before the infamous DAO hack had
        happened.
      </p>

      <p>
        For about a month during this time, I ran five graphics cards zip tied
        to holes that I had cut into a piece of sturdy cardboard. I was so proud
        of the fire hazard I had created until my parents told me I had to pay
        the electric bill. In that time I had mined just under 11 ETH, which I
        sold way before the upcoming bull-run peak in 2017. If I learned
        anything from that, it was that I wanted to obtain financial freedom
        through investing and passive income. I suppose I also learned that
        paying bills isn't something that I would ever look forward to.
      </p>

      <p>
        I'm also big on my yoga and meditation routine, especially when I get to
        practice somewhere out in nature. I wake up every morning looking
        forward to a healthy breakfast with tea and a yoga session.
      </p>

      <p>
        When it comes to other exercises, I really enjoy hiking, weightlifting,
        rock climbing, cycling, and skiing. Pursuing a healthy balance between
        my sedentary career and diet and exercise habits has always been a
        priority for me. It doesn't always work out that way in the world of
        tech or startups, but I'm fortunate to stay mostly on that path.
      </p>

      <p>
        And when I'm not doing any of the above, you'll find me relaxing with a
        good fantasy book in my hands. Or a book on investing. Or maybe some
        other reading material. I always seem to find little pockets in my day
        to sneak in an article to read or a book to zone in on.
      </p>
    </article>
    <article class:hidden={selectedAboutArticle !== 'tech'}>
      <h4 class="font-bold">Tech</h4>
      <br />

      <p>
        Like many other engineers, I was once just a young kid who was obsessed
        with computers. Over time, I turned that interest into writing code as a
        hobby and eventually into a full-time career.
      </p>

      <p>
        Before high school, I had built three desktop computers for my friends
        and I to game on, worked on a CodeIgniter (PHP) web app with a mentor
        that I met online, written some basic Arduino programs using a workbook
        that my parents bought me, and started mining some of my first bitcoin
        and litecoin. I was a full-blown nerd, glasses and everything. Still am,
        in fact!
      </p>

      <p>
        At some point in my sophomore year of high school my mentor introduced
        me to Meetup.com. I discovered a local startup group and convinced my
        brother to drive me every month in exchange for taking on some extra
        house chores.
      </p>

      <p>
        This meetup group, which was called Digital Fertilizer, helped me
        develop an interest in working on big ideas with small teams of people.
        I looked up to everyone there because I saw a growing part of myself in
        all of them. There were also free snacks and sodas at every event.
      </p>

      <p>
        At one point, Digital Fertilizer hosted the first ever Startup Weekend
        event in the area. I convinced one of my teachers to have the school pay
        for my admission, as well as three of my classmates. My teacher pitched
        an idea for a language-learning application at the event, I joined his
        team, and our team ended up winning first place. We ended up scrapping
        the project after we won, but it was the first time in my young adult
        life that I truly knew what it was I wanted to do when I grew up.
      </p>

      <p>
        I continued working with my mentor and investing money that I earned
        working at a local restaurant into learning how to write web
        applications. Although I never went to an official college or bootcamp,
        I certainly had an education in web development and eventually software
        engineering - an education that continues today and will continue for
        many years to come.
      </p>

      <p>
        After failing to start my own freelancing business, my Mom helped me
        land my first job as a help-desk technician at the distribution company
        that she worked at. On my first day, the systems administrator
        discovered that I knew my way around Linux servers and MySQL databases.
        Suddenly I had ownership of developing a web application and
        administrating the server that it ran on. I was officially promoted to a
        "programmer analyst" position within a month, and over the course of
        almost three years became the lead technical expert of that small team.
      </p>

      <p>
        Towards the end of my tenure in that position, I was graduating from an
        associate's program at the tech school that I went to and was (finally!)
        free to explore the world. I packed my things and drove out to Denver,
        Colorado to indulge in a city and state where tech startups are
        abundant.
      </p>

      <p>
        I've never been more excited to be alive. Now that I've built
        real-world, scalable web applications; now that I live in an area of the
        world that fits my lifestyle and personality; now that I have touched so
        many different tools of the trade from the monolith PHP apps of the late
        2000's to the micro-frontend React apps of today - I am <em
          >absolutely thrilled</em
        > to be capable of and actively working on projects that will make a difference
        in the world.
      </p>
    </article>
    <div class="flex-grow" />
  </div>
</div>

<style scoped>
  .terminal {
    @apply rounded-lg overflow-hidden shadow-xl border h-full;
    border-color: #00000011;
    max-width: 900px;
    margin: 0 auto;
  }

  .terminal .commands li {
    @apply rounded-full ml-2.5 my-2;
    height: 11px;
    width: 11px;
  }

  .terminal .content {
    @apply text-gray-700 bg-white font-mono overflow-y-scroll;
    padding: 30px 30px 30px 50px;
    height: calc(100% - 60px);
  }

  .terminal .content article p {
    @apply mb-3;
  }
</style>
